{% extends 'adminbase.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <h1>Create new Messages</h1>

    {{ include('admin/messages/_form.html.twig') }}

    <a href="{{ path('messages_index',{'filter': 'all'}) }}">back to list</a>
{% endblock %}
