{% extends 'adminbase.html.twig' %}

{% block title %}Hello UrlController!{% endblock %}

{% block body %}


    <h1>Url index</h1>
    <hr>

    <a class="btn btn-primary" href="{{ path('url_new') }}">Create new</a>
    {{ include('admin/url/urls.html.twig') }}

{% endblock %}