
<header>
    <div class="container">
        <a href="/">  <img src="https://txt.1001fonts.net/img/txt/dHRmLjQ0LmU0NTQyMS5jR0YwYUEsLC4w/rolling-beat-personal-use.regular.png" class="logo" alt="Short Url Logo" />
        </a>
        <div class="auth-buttons">
            {% if app.user %}

                <div class="dropdown">
                    <button class="button button-primary">Hesabım  <i class="fas fa-caret-down"></i> </button>
                    <div class="dropdown-content">
                        <a href="/profile">Profilim</a>
                        <a href="#">Bağlanıtlarım</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>

                <a href="/logout" class="button button-bordered">Çıkış Yap</a>
            {% else %}

                <a href="/login" class="button button-primary">Login</a>
                <a href="/register" class="button button-bordered">Signup</a>
            {% endif %}
        </div>
    </div>


</header>